/* https://stackoverflow.com/questions/48924751/how-to-create-new-breakpoints-in-bootstrap-4-using-cdn/48976550#48976550 */
/* import what we need to override */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

/* set the overriding variables */
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1345px,
  xxxl: 1536px
);
$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1345px,
  xxxl: 1536px
);

/* override the !default vars with the values we set above */
@import "bootstrap";