
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.content-wrapper{
  padding-bottom: 0%;
  padding-top: 0%;
  /*min-height: 100vh;*/
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 0px;
}

.jumbotron-text {
    text-align: center;

}
.header {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
    width: 100%;
}

.tagline {
    font-size: 30px;
}

.card-deck {
    margin-left: 15px;
    margin-right: 15px;
}

.cards {
    border-style: none;
}

.fill {
  opacity: 1;
}

.faq-text {
  font-size: 15px;
}

.faq-header {
  background-color:#e9ecef;
}

.tip-header {
  background-color:#e9ecef;
  color: #dc3545;
}

.question {
  color: #dc3545;
}

.testimonial-header {
  padding-top: 75px;
}

.spacing {
  padding-bottom: 65px;
}
.motto{
  font-style: italic;
  font-size: xx-large;
  color: #ff2400;
  text-align: center
}

.motto_founder{
  font-style: normal;
  font-size: x-large;
  color: #808080;
  text-align: center
}

.choices{
  color: white
}

a.nav-link {
  color: white;
}

.footer {
  position:relative;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 60px;
  /*margin-top: auto;*/
}

.m-auto{
  white-space: nowrap;
  width: 100%;
  align-content: center;
}

.account-info-box {
  margin-top: 190px;
  margin-bottom: 270px;
}

.login-box {
  margin-top: 250px;
  margin-bottom: 350px;

}

.form-control {
  width: 35%;
}

.username {
  padding-top: 50px;
}

.login-label {
  padding-right:560px;
}

.button-container {
  margin-bottom: 25px;
}

.login-button {
  width: 35%;
  font-weight: 500;
}

.create-labels {
  padding-right: 560px;
}

.create-account-button {
  width: 35%;
  font-weight: 500;
}

.languageSelect{
  width: 100%
}

.switch{
  text-align: left;
}

.settings-button{
  width: 54px;
  margin-left: 96%;
}